@charset "UTF-8";

/* body 엘리먼트가 가진 기본 스타일 제거 */
body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #2a5451;
}

.service-list a {
  color: #b6c3c2;
}

.service-list a:hover {
  color: #fff;
}

.new-mail > button {
  background-color: #cdf0e7;
  color: #214340
}

.mail-box-list a {
  color: #222;
}

/* 여기부터 채워주세요 */
